* {
  margin: 0;
  padding: 0;
}

.searchSection {
  margin-top: 100px;
}

.searchForm {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 30%;
  border: 1px solid lightcoral;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  background-color: rgb(243, 212, 212);
  color: rgb(77, 77, 77);
}

.searchButton {
  background: lightcoral;
  border: 1px solid rgb(252, 81, 81);
  border-radius: 0 10px 10px 0;
  padding: 10px 20px;
  color: white;
}

.defaultSearch {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cupCake {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
